@page

@using Microsoft.Extensions.Options;
@using ProgressApplicationMVP.Options;
@inject IOptions<IndexContentOptions> indexOptions;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1>
        <label class="display-4">
            Progress tracking app
            @if (Model._MainGoal == "Demoing the app")
            {
                <label>
                    DEMO
                </label>
            }
        </label>
    </h1>
    <h2 class="display-4">MVP</h2>
    @if (Model._MainGoal == "Demoing the app")
    {
<h2>
    <label><strong>(Returning to this page resets the changes that are made)</strong></label>
</h2>
    }
</div>
<div class="text-sm-left">

    <h3>Features:</h3>
    <ul>
        @foreach (string feature in indexOptions?.Value?.CurrentFeatures)
        {

            <li>@feature</li>
        }
    </ul>
    <h3>Future features</h3>
    <ul>
        @foreach (string feature in indexOptions?.Value?.FutureFeatures)
        {

            <li>@feature</li>
        }
    </ul>
    <h3>Known bugs:</h3>
    <ul>
        @foreach (string bug in indexOptions?.Value?.KnownBugs)
        {

            <li>@bug</li>
        }
    </ul>
    <h3>Bugfixes under review:</h3>
    <ul>
        @foreach (string bug in indexOptions?.Value?.BugfixesUnderReview)
        {

            <li>@bug</li>
        }
    </ul>
</div>
