@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-xl-right p-3">
    <img src="~/Pictures/profielfoto fades.png" height="400em" width="500em">
</div>
<div class="text-md-left">
    <div>
        <br />
        <div id="Quote" class="display-4">
            <label class="font-italic font-weight-bold">Oprechte interesse is mijn drijvende kracht.</label>
        </div>
        <br />
        <div id="name" class="display-2">
            <label class="display-4">Victor Looren de Jong</label>
        </div>
    </div>
</div>
