@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Progress tracking app</h1>
    <h2 class="display-4">MVP</h2>
</div>
<div class="text-sm-left">

    <h3>Features:</h3>
    <ul>
        <li>Adding projects</li>
        <li>Save your challenges of the project and all the solutions</li>
        <li>Save your ideas for future additions to the project and leave a runway item for when you start that addition</li>
        <li>Add hours to a project</li>
        <li>Classify the time you put in in a catagory</li>
        <li>You can make a project status switch between ToDo/Doing/Done</li>
        <li>Assign a new main project to the project if the project changes</li>
    </ul>
    <h3>Future features</h3>
    <ul>
        <li>Statistics on index page</li>
        <li>Adding comments to a time unit</li>
        <li>Sign in</li>
        <li>Multiple users</li>
    </ul>
    <h3>Known bugs:</h3>
    <ul>
        <li>Front end code</li>
        <li>When shifting projects arround a negative hour count can be calculated</li>
        <li>Data transport Dictionary management page</li>
    </ul>
</div>
