 <!--Side Menu-->
<div id="sidebar-wrapper" class="side-menu flex">
    <!--Catagory link-->
    <div class="sidebar-heading div-side-menu-catagory-item side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-catagory-item-label menu-text">
                Catagory item
            </label>
        </a>
    </div>
    <!--If it is a page with no loaded project-->
    <!--Sub project title menu item-->
    <div class="sidebar-heading div-side-menu-main-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item div-side-menu-project menu-text">
                first page item
            </label>
        </a>
    </div>
    <!-- sub sub project title menu item-->
    <div class="list-group list-group-flush div-side-menu-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-sub-project-item-label menu-text">
                Firstpage sub item
            </label>
        </a>
    </div>
    <!--if a project is loaded-->
    <!--If item is not the catagory-->
    <!--Load title main project-->
    <div class="sidebar-heading div-side-menu-selected-main-project  side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-main-project-item-label menu-text">
                Comptia Linux +
            </label>
        </a>
    </div>
    <!--Selected project-->
    <div class="sidebar-heading div-side-menu-selected div-side-menu-selected-project side-menu-item">
        <label class="side-menu-item side-menu-deper-project-selected-project-item menu-text">
            Progress/Portfolio application
        </label>
    </div>
    <!--Load all subproject titles of selected project-->
    <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                Deeper Sub project item
            </label>
        </a>
    </div>
    <!--Load all subproject titles of selected project-->
    <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                Deeper Sub project item
            </label>
        </a>
    </div>
    <!--Load all subproject titles of selected project-->
    <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                Deeper Sub project item
            </label>
        </a>
    </div>
    <!--Load all subproject titles of selected project-->
    <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                Deeper Sub project item
            </label>
        </a>
    </div>
    <!--Load all subproject titles of selected project-->
    <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                Deeper Sub project item
            </label>
        </a>
    </div>
    <!--Load all subproject titles of selected project-->
    <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                Deeper Sub project item
            </label>
        </a>
    </div>
    <!--Load all subproject titles of selected project-->
    <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                Deeper Sub project item
            </label>
        </a>
    </div>
    <!--Load all subproject titles of selected project-->
    <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                Deeper Sub project item
            </label>
        </a>
    </div>
    <!--Load all subproject titles of selected project-->
    <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
        <a class="list-group list-group-flush bg-dark">
            <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                Deeper Sub project item
            </label>
        </a>
    </div>
</div>