@page "/testpage"
<h3>Test</h3>

<!--Table section-->
<div class="div-table-title-section">
    <label class="page-text label-table-title">Titel</label>
</div>
<div id="page-section-added-projects-table" class="div-table-section">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="div-table-title-column-head-section">
                        <label class="label-table-head label-table-title page-text">Table title</label>
                    </div>
                </th>
                <th>
                    <div class="div-table-sub-column-head-section">
                        <label class="label-table-head page-text">Sub colum head</label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="div-table-row-title-item-section">
                        <label class="label-table-row page-text">Row title item</label>
                    </div>
                </td>
                <td>
                    <div class="div-table-sub-column-item-section">
                        <label class="label-table-row page-text">Sub colum item</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@code {

}
