@page
@model PortfolioMVP.Pages.AboutMePageModel
@{
    ViewData["Title"] = "Over mij";
}

<div>
    <!--Page body wrapper-->
    <div id="wrapper">
        <div class="scrollable-page">
            <div class="div-page-content-head-section">
                <!--Title-->
                <div class="div-page-title">
                    <label class="label-page-title page-text">Over mij</label><br />
                </div>
            </div>
            <div class="div-about-me-picture">
                <img class="img-about-me-picture" src="~/pictures/AboutMe.png" alt="Victor Looren de Jong AboutMePicture" />
            </div>
            <div class="div-about-me-page-tekst-section">
                <label class="page-text label-about-me-text-section">Sinds Juli 2020 ben ik bezig met overstappen naar de professionele IT.</label>
                <br />
                <label class="page-text label-about-me-text-section">Na meer dan vijftien jaar jaar uitvoerende werkzaamheden zoek ik meer persoonlijke uitdaging in mijn werk.</label>
                <br />
                <label class="page-text label-about-me-text-section">Sinds mijn twaalfde heb ik als hobby alles wat ik kan verzinnen met computers.</label>
                <br />
                <label class="page-text label-about-me-text-section">Inmiddels heb ik 20+ computers nieuw gebouwd en 100+ hersteld.</label>
                <br />
                <label class="page-text label-about-me-text-section">Ook heb ik anderen geleerd hoe een computer opgebouwd moet worden door het samen te doen en ze mee te nemen in het proces.</label>
                <br />
                <label class="page-text label-about-me-text-section">Binnen de ICT wereld heb ik het idee dat ik mijn creativiteit het beste ruimte kan geven in software development.</label>
                <br />
                <label class="page-text label-about-me-text-section">Ik houd er van om nieuwe dingen te verzinnen en te kijken of het ook het hele probleem oplost</label>
                <br />
                <label class="page-text label-about-me-text-section">Ik hoop met deze pagina een indruk te kunnen geven wat ik de laatste 1,5 jaar heb gedaan en wat er nog in mijn toekomst ligt.</label>
                <br />
                <label class="page-text label-about-me-text-section">Wie weet komen we elkaar een keer tegen in dit avontuur,</label>
            </div>
            <div class="div-name-section">
                <label class="page-text label-name-text">Victor Looren de Jong</label>
                <br />
                <label class="page-text label-email-text">contact@victorloorendejong.nl</label>
            </div>

            <div>
                <a href="https://www.linkedin.com/in/victor-looren-de-jong" alt="linked in pagina" target="_blank">
                    <img class="img-linkedin-logo page-text" src="~/pictures/Linkedin.png" alt="LinkedInLogo" />
                </a>
            </div>
        </div>
    </div>
</div>    